<h1>Welcome to Flight Simulator</h1>
<h4><a href = "/">Home</a></h1>

<%= form_for '/flights/show', method: 'get' do |f| %>

    <%= f.label 'Departure Airport' %><br>
    <%= f.select(:departure_code, @airports_options) %><br>
    
    <%= f.label 'Arrival Airport' %><br>
    <%= f.select(:arrival_code_code, @airports_options) %><br>
    
    <%= f.label 'Number of Passengers' %><br>
    <%= f.select(:number_passenger, @passengers_options) %><br>
    
    <%= f.label 'Departure Date' %><br>
    <%= f.select(:departure_date, @flights_options.sort) %><br>

    <%= f.submit 'Search Flights' %>

<% end %>