<h1>Flights#index</h1>
<p>Find me in app/views/flights/index.html.erb</p>

<%= form_for 'Hello' do |f| %>

    <%= f.label 'Departure Airport' %><br>
    <%= f.select(:departure_code, @airports_options) %><br>
    
    <%= f.label 'Arrival Airport' %><br>
    <%= f.select(:arrival_code_code, @airports_options) %><br>
    
    <%= f.label 'Number of Passengers' %><br>
    <%= f.select(:number_passenger, @passengers_options) %><br>
    
    <%= f.label 'Departure Date' %><br>
    <%= f.select(:departure_date, @flights_options.sort) %><br>

<% end %>
